<div class="container p-0 image" style="overflow: hidden; max-height:@Height; max-width: @Width; background-image: url('@Images[index].ImgaeLocation');">
    <div class="image @(Images[(index + 1) % Images.Count].RoutingUrl != null ? "link":"")" @onclick="x=>navigationManager.NavigateTo(Images[(index+1)%Images.Count].RoutingUrl)" style="min-height: @Height; background-image: url('@Images[(index+1)%Images.Count].ImgaeLocation');">

        @if (TopLeft != null)
        {
            <div class="top-left">@TopLeft(Images[index])</div>
        }
        @if (TopRight != null)
        {
            <div class="top-right">@TopRight(Images[index])</div>
        }
        @if (BottomLeft != null)
        {
            <div class="bottom-right">@BottomLeft(Images[index])</div>
        }
        @if (BottomRight != null)
        {
            <div class="bottom-left">@BottomRight(Images[index])</div>
        }
        @if (Center != null)
        {
            <div class="centered">@Center(Images[index])</div>
        }
    </div>
</div>
