@using Models 
<div class="container" style="overflow: hidden; height:@Height; width:@Width;">
    <img src="Images.RoutingUrl" style="width:100%;"/>
    @if (TopLeft != null)
    {
        <div class="top-left">@TopLeft</div>
    }
    @if (TopRight != null)
    {
        <div class="top-right">@TopRight</div>
    }
    @if (BottomLeft != null)
    { 
        <div class="bottom-right">@BottomLeft</div>
    }
    @if (BottomRight != null)
    {
        <div class="bottom-left">@BottomRight</div>
    }
    @if (Center != null)
    {
        <div class="centered">@Center</div>
    }
</div>
@code {
    [Parameter]
    public RenderFragment<ImageContainer> TopLeft { get; set; }
    [Parameter]
    public RenderFragment<ImageContainer> TopRight { get; set; }
    [Parameter]
    public RenderFragment<ImageContainer> BottomLeft { get; set; }
    [Parameter]
    public RenderFragment<ImageContainer> BottomRight { get; set; }
    [Parameter]
    public RenderFragment<ImageContainer> Center { get; set; }
    [Parameter]
    public List<ImageContainer> Images { get; set; }
    [Parameter]
    public string Height { get; set; }
    [Parameter]
    public string Width { get; set; }
}
